@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* background-color: black; */
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-family: Poppins, sans-serif;
  --text-color: #00171f;
  --title-color: #162e4a;
  --enfasis-app-color: #007ea7;
  --blue-brilliant: #00a8e8;
  --standard-bg: #edf6f9;
}

body {
  margin: 0 auto;
  transition: all ease-in-out 0.3s;
  background-color: var(--standard-bg);
  font-family: var(--font-family);
}

header {
  padding: 10px 0 0 0;
  position: sticky;
  top: 0px;
  z-index: 99;
  background-color: var(--standard-bg);
}
.inner-header-container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
}

.cinta-informativa {
  background-color: var(--title-color);
}
.content-cinta-informativa {
  max-width: 1240px;
  height: 2.25rem;
  margin: 0 auto;
  color: var(--standard-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

.main-logo {
  width: 20%;
  object-fit: contain;
}

.header-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
}

.header-links-container > li > a {
  text-decoration: none;
  color: var(--title-color);
  font-size: 0.85rem;
  font-weight: 500;
}

.header-icons-section {
  width: 15%;
}

.header-icons-section > ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
  align-items: center;
}

.header-icons-section > ul > li {
  list-style: none;
}

.header-icons-section > ul > li > a > img {
  width: 1.5rem;
}

.main-hero {
  width: 100%;
  height: 85vh;
  background-color: rgb(246, 237, 226);
  background-image: url(./images/main_hero2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content {
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
}

.discount-advice {
  width: 100%;
  height: 100%;
  font-weight: 700;
  color: red;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  text-shadow: 1px 1px #242424;
}

.disc-badge {
  background-color: red;
  color: var(--standard-bg);
  font-weight: 700;
  padding: 10px;
  font-size: 4rem;
  text-shadow: none;
}

.standard-btn {
  font-size: 1rem;
  text-decoration: none;
  background-color: red;
  color: var(--standard-bg);
  padding: 0.85rem 1rem;
  border-radius: 6px;
  text-shadow: none;
}

.products-section {
  max-width: 1240px;
  margin: 0 auto;
  padding: 4rem 0;

  text-align: center;
}

.products-section > h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--title-color);
}

.products-section-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.tarjeta {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(25% - 1.25rem);
  max-width: calc(25% - 1.25rem);
  min-width: 200px;
  padding: 1rem;
}

.tarjeta:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.tarjeta > img {
  height: 180px;
  object-fit: contain;
  object-position: center;
}

.product-description {
  text-align: start;
  margin-top: 10px;
  /* padding: 1rem; */
}

.product-description > h2 {
  font-size: 1.2rem;
}

.price {
  justify-self: end;
  font-size: 1.25rem;
  font-weight: 700;
}

.destacado-section {
  max-width: 1240px;
  margin: 0 auto;
}

.destacado-content {
  width: 100%;
  height: 320px;
  background: linear-gradient(
    to right,
    var(--blue-brilliant) 8%,
    var(--title-color) 50%,
    var(--title-color) 100%
  );
  overflow: hidden;
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.text-destacado-container {
  width: 60%;
  color: var(--standard-bg);
  font-size: 2rem;
  line-height: 1.75rem;
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.text-destacado-container span {
  font-size: 1.25rem;
}

.text-destacado-container a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--standard-bg);
  transition: all ease-in-out 0.3s;
}

.text-destacado-container a:hover {
  color: var(--enfasis-app-color);
}

.img-destacado-container {
  width: 40%;
  height: 100%;
  overflow: hidden;
  order: 1;
}

.destacado-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-section {
  margin: 0 auto;
  padding: 4rem 0;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.about-section div {
  width: 50%;
}

.gallumbo-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-section .gallumbo-description h2 {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
}

.about-section div h2 span {
  font-weight: 500;
}

.about-section div img {
  width: 100%;
  border-radius: 12px;
}

.contact-section {
  background-color: var(--title-color);
}

.contact-section-container {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  padding: 2rem 0;
}
.contact-info {
  width: 60%;
  font-size: 2rem;
  line-height: 3.5rem;
  color: var(--standard-bg);
}

.contact-info p {
  font-size: 1rem;
}

.form-container {
  width: 40%;
  background-color: var(--standard-bg);
  border-radius: 12px;
  padding: 2rem;
  font-size: 0.85rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

.contact-info span {
  font-weight: 500;
}

footer {
  background-color: var(--title-color);
  color: var(--standard-bg);

  font-size: 0.85rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer section {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  border-top: var(--standard-bg) 1px solid;
  text-align: center;
  padding-top: 1rem;
}

form div {
  display: flex;
  flex-direction: column;
}

form div input,
select,
textarea {
  border-radius: 8px;
  padding: 0.5rem;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
}

form button {
  font-family: var(--font-family);
  padding: 0.5rem;
  background-color: var(--enfasis-app-color);
  border-radius: 8px;
  color: var(--standard-bg);
  border: none;
  font-weight: 700;
  width: fit-content;
  transition: all ease-in-out 0.3s;
}

form button:hover {
  cursor: pointer;
  scale: 1.05;
}
